*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Secrets & Keys
*.jks
*.keystore
google-services.json
secrets.xml

# Logs
*.log

#Debugs reports
Debug_report.md

captures/

.agents/
.agents
